
body {
  padding: 10px 10px;
  font: 15px "Helvetica Neue", "Lucida Grande", "Arial";
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,45484d+100 */
background: #000000; /* Old browsers */
background: -moz-linear-gradient(top, #000000 0%, #45484d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #000000 0%,#45484d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #000000 0%,#45484d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=0 ); /* IE6-9 */
  background-repeat: no-repeat;
  color: #555;
  -webkit-font-smoothing: antialiased;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.intro {
  margin: 20px 30px 90px;
}
.intro-text {
  text-align: left;
  padding: 20px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  text-align:center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.error {
  color: crimson;
  text-align:center;
  font-weight: bold;
  font-size: 16px;
  padding: 15px;
  border: 1px crimson dashed;
  margin-bottom: 15px;
  border-radius: 5px;
}

.success {
  color: teal;
  text-align:center;
  font-weight: bold;
  font-size: 16px;
  padding: 15px;
  border: 1px teal dotted;
  margin-bottom: 15px;
  border-radius: 5px;
}
